@import url(https://themes.googleusercontent.com/fonts/css?kit=xTOoZr6X-i3kNg7pYrzMsnEzyYBuwf3lO_Sc3Mw9RUVbV0WvE1cEyAoIq5yYZlSc);
.lst-kix_bgip35qfqq1o-6 > li:before {
    content: "\0025cf   ";
}
.lst-kix_bmxt17a7mso9-3 > li:before {
    content: "-  ";
}
.lst-kix_bgip35qfqq1o-5 > li:before {
    content: "\0025a0   ";
}
.lst-kix_bgip35qfqq1o-7 > li:before {
    content: "\0025cb   ";
}
.lst-kix_bgip35qfqq1o-4 > li:before {
    content: "\0025cb   ";
}
.lst-kix_bgip35qfqq1o-8 > li:before {
    content: "\0025a0   ";
}
.lst-kix_bmxt17a7mso9-1 > li:before {
    content: "-  ";
}
.lst-kix_bmxt17a7mso9-5 > li:before {
    content: "-  ";
}
.lst-kix_bmxt17a7mso9-2 > li:before {
    content: "-  ";
}
.lst-kix_bmxt17a7mso9-6 > li:before {
    content: "-  ";
}
.lst-kix_bmxt17a7mso9-4 > li:before {
    content: "-  ";
}
.lst-kix_bgip35qfqq1o-0 > li:before {
    content: "\0025cf   ";
}
.lst-kix_bgip35qfqq1o-1 > li:before {
    content: "\0025cb   ";
}
.lst-kix_bgip35qfqq1o-2 > li:before {
    content: "\0025a0   ";
}
.lst-kix_bmxt17a7mso9-7 > li:before {
    content: "-  ";
}
.lst-kix_bgip35qfqq1o-3 > li:before {
    content: "\0025cf   ";
}
.lst-kix_bmxt17a7mso9-8 > li:before {
    content: "-  ";
}
ul.lst-kix_n6y0xuvcd72d-7 {
    list-style-type: none;
}
ul.lst-kix_n6y0xuvcd72d-8 {
    list-style-type: none;
}
.lst-kix_n6y0xuvcd72d-1 > li:before {
    content: "\0025cb   ";
}
ul.lst-kix_3229mt131g2u-0 {
    list-style-type: none;
}
.lst-kix_n6y0xuvcd72d-0 > li:before {
    content: "\0025cf   ";
}
ul.lst-kix_n6y0xuvcd72d-3 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-7 > li:before {
    content: "\0025cb   ";
}
ul.lst-kix_n6y0xuvcd72d-4 {
    list-style-type: none;
}
ul.lst-kix_n6y0xuvcd72d-5 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-6 > li:before {
    content: "\0025cf   ";
}
ul.lst-kix_n6y0xuvcd72d-6 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-5 > li:before {
    content: "\0025a0   ";
}
ul.lst-kix_3229mt131g2u-6 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-5 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-8 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-7 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-2 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-1 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-4 > li:before {
    content: "\0025cb   ";
}
ul.lst-kix_3229mt131g2u-4 {
    list-style-type: none;
}
ul.lst-kix_3229mt131g2u-3 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-1 > li:before {
    content: "\0025cb   ";
}
.lst-kix_3229mt131g2u-2 > li:before {
    content: "\0025a0   ";
}
ul.lst-kix_bmxt17a7mso9-8 {
    list-style-type: none;
}
ul.lst-kix_bmxt17a7mso9-7 {
    list-style-type: none;
}
ul.lst-kix_bmxt17a7mso9-6 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-3 > li:before {
    content: "\0025cf   ";
}
ul.lst-kix_bmxt17a7mso9-1 {
    list-style-type: none;
}
ul.lst-kix_n6y0xuvcd72d-0 {
    list-style-type: none;
}
ul.lst-kix_bmxt17a7mso9-0 {
    list-style-type: none;
}
ul.lst-kix_n6y0xuvcd72d-1 {
    list-style-type: none;
}
ul.lst-kix_n6y0xuvcd72d-2 {
    list-style-type: none;
}
ul.lst-kix_bmxt17a7mso9-5 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-0 > li:before {
    content: "\0025cf   ";
}
ul.lst-kix_bmxt17a7mso9-4 {
    list-style-type: none;
}
.lst-kix_bmxt17a7mso9-0 > li:before {
    content: "-  ";
}
ul.lst-kix_bmxt17a7mso9-3 {
    list-style-type: none;
}
ul.lst-kix_bmxt17a7mso9-2 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-8 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-3 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-2 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-1 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-0 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-7 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-6 {
    list-style-type: none;
}
ul.lst-kix_bgip35qfqq1o-5 {
    list-style-type: none;
}
.lst-kix_3229mt131g2u-8 > li:before {
    content: "\0025a0   ";
}
ul.lst-kix_bgip35qfqq1o-4 {
    list-style-type: none;
}
.lst-kix_n6y0xuvcd72d-2 > li:before {
    content: "\0025a0   ";
}
.lst-kix_n6y0xuvcd72d-3 > li:before {
    content: "\0025cf   ";
}
.lst-kix_n6y0xuvcd72d-4 > li:before {
    content: "\0025cb   ";
}
.lst-kix_n6y0xuvcd72d-5 > li:before {
    content: "\0025a0   ";
}
.lst-kix_n6y0xuvcd72d-6 > li:before {
    content: "\0025cf   ";
}
li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}
.lst-kix_n6y0xuvcd72d-7 > li:before {
    content: "\0025cb   ";
}
.lst-kix_n6y0xuvcd72d-8 > li:before {
    content: "\0025a0   ";
}
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
.c21 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 327.7pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
}
.c11 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 176.3pt;
    border-top-color: #ffffff;
    border-bottom-style: solid;
}
.c13 {
    color: #d44500;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Lato";
    font-style: normal;
}
.c0 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Lato";
    font-style: normal;
}
.c14 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Lato";
    font-style: normal;
}
.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Lato";
    font-style: normal;
}
.c9 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Lato";
    font-style: normal;
}
.c23 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 24pt;
    font-family: "Raleway";
    font-style: normal;
}
.c25 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Raleway";
    font-style: normal;
}
.c33 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 6pt;
    font-family: "Lato";
    font-style: normal;
}
.c6 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c12 {
    margin-left: 36pt;
    padding-top: 6pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c38 {
    color: #f2511b;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Raleway";
    font-style: normal;
}
.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
    height: 11pt;
}
.c20 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c16 {
    margin-top: 2%;
    border-spacing: 0;
    border-collapse: collapse;
}
.c17 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c15 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c8 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c32 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c39 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c4 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}
.c34 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left;
}
.c5 {
    font-size: 14pt;
    font-family: "Lato";
    font-weight: 700;
}
.c35 {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.c41 {
    orphans: 2;
    widows: 2;
}
.c10 {
    padding: 0;
    margin: 0;
}
.c28 {
    font-size: 11pt;
    font-family: "Lato";
}
.c31 {
    height: 11pt;
}
.c36 {
    margin-left: 36pt;
}
.c18 {
    font-weight: 700;
}
.c26 {
    font-weight: 400;
}
.c30 {
    height: 120pt;
}
.c37 {
    font-size: 14pt;
}
.c27 {
    height: 265pt;
}
.c29 {
    height: 72pt;
}
.c19 {
    font-size: 13pt;
}
.c24 {
    page-break-after: avoid;
}
.c3 {
    height: 182pt;
}
.c40 {
    color: #d44500;
}
.c22 {
    height: 12pt;
}
.title {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.subtitle {
    padding-top: 3pt;
    color: #f2511b;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
li {
    color: #000000;
    font-size: 13pt;
    font-family: "Lato";
}
p {
    margin: 0;
    color: #000000;
    font-size: 13pt;
    font-family: "Lato";
}
h1 {
    padding-top: 4pt;
    color: #000000;
    font-weight: 700;
    font-size: 15pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h2 {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h3 {
    padding-top: 6pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    font-size: 11pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Trebuchet MS";
    orphans: 2;
    widows: 2;
    text-align: left;
}
h5 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}
h6 {
    padding-top: 8pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}